.articleOFormativas{
    width: 100%;
    height: 100%;
    float: left;
}
.divTituloOFormativa{
    width: 100%;
    height: 100px;
    background: white;
    float: left;
}
.divTituloOFormativa h2{
    text-align: center;
    margin-top: 0.7em;
    font-size: 35px;
    color: black;
}
.divContenedorOFormativas{
    width: 100%;
    height: 580px;
    overflow-y: scroll;
    float: left;
}
.divOFormativa{
    width: 45%;
    height: 300px;
    margin: 10px;
    background: white;
    box-shadow: 7px 7px 3px grey;
    margin-left: 1%;
    /* padding: 1em; */
    overflow: hidden;
    font-size: 15px;
    border: 1px solid #B4B4B4;
    transition: all 300ms;
    border-radius: 5px;
    float: left;
}
.divOFormativa:hover{
    transform: scale(1.02 ,1.02);
}
.divTituloOFormativaDatos{
    background: #334C57;
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
    float: left;
}
.divTituloOFormativaDatos h3{
    text-align: center;
    color: white;
    margin-top: 10px
}
.divOFormativa p{
    width: 45%;
    height: 30px;
    margin-left: 5%;
    margin-bottom: 10px;
    float: left;
}
.divOFormativa table{
    width: 30%;
    margin-left: 5%;
    float: left;
}
.divSelectOFormativa{
    width: 100%;
    height: 70px;
    float: left;
}